uib-alert(ng-if="alertError" type="danger" close="closeAlertError()") {{ alertError.informations }}
.container
      .row
        .col-md-5.col-md-offset-3
          button.btn(ng-click="goToShow()") Back
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xs-offset-0.col-sm-offset-0.col-md-offset-3.col-lg-offset-3.toppad
          .panel.panel-info
            .panel-heading
              h3.panel-title {{ user.username }}
            .panel-body
              .row
                .col-md-3.col-lg-3(align='center')
                  img.img-circle.img-responsive(alt="User Pic" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png")
                .col-md-9.col-lg-9
                  table.table.table-user-information
                    tbody
                      tr
                        td: b Id:
                        td {{ user.id }}
                      tr
                        td: b Email:
                        td: input.form-control(type="email" ng-model="user.email")
                      tr
                        td: b First name:
                        td: input.form-control(type="text" ng-model="user.firstName")
                      tr
                        td: b Last name:
                        td: input.form-control(type="text" ng-model="user.lastName")
                      tr
                        td: b Created at:
                        td: input.form-control(type="text" ng-model="user.createdAt")
                      tr
                        td: b Role:
                        td {{ user.isAdmin ? 'Admin' : 'User' }}
                      tr
                        td: b Password:
                        td: input.form-control(type="password" ng-model="user.password")
                      tr
                        td: b Password confirmation:
                        td: input.form-control(type="password" ng-model="user.password2")
              span.pull-right
                button.btn.btn-primary(title="Submit" ng-click="submitEdition()")
                  i.fa.fa-check.fa-w
