<div>
  <hr />
  <p>
    If you have any feedback, please let me know <a href="/about#contact">by email</a> or by opening a ticket
    <a href="https://gitlab.com/bloom42/blog/">on GitLab</a>!
  </p>
  <p>
    Follow <a href="https://mastodon.social/@42bloom">@42bloom@mastodon.social</a> on the Fediverse to never
    miss an issue.
  </p>

  <div class="text-center">
    <i><b><a href="/#past-issues" class="read-more-btn">Other issues</a></b></i>
  </div>

  <div class="text-center" style="margin-top: 20px">
    <h3><a href="https://fatalentropy.com"><button type="button">Subscribe</button></a></h3>
    <small class="text-muted">
      You can subscribe by Email or RSS
    </small>
  </div>
</div>
