div#lol-admin
div.row
  div.col-md-5.col-md-offset-3
    div.panel.panel-primary
      div.panel-heading
        h3.panel-title Users
      div.panel-body
        a(href="" ng-click="go('/admin/users')") Users


